/* purgecss start ignore */
@import 'tailwindcss/base';
/* purgecss end ignore */

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';


/* purgecss start ignore */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

.post {
  p {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  ul {
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1 em;
    padding-left: 40px;
  }

  ol {
    list-style-type: decimal;
    margin-top: 1em;
    margin-bottom: 1 em;
    padding-left: 40px;
  }

  h1 {
    font-weight: bold;
    font-size: 2.25rem;
    line-height: 1.5rem;
    letter-spacing: -0.05em;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  h2 {
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  a {
    color: #4299e1;
  }

  a:hover {
    text-decoration: underline;
  }
}

/* purgecss end ignore */